<div class="flex flex-col h-full overflow-hidden">
  <nav class="flex flex-row h-32">
    <a routerLink="/">
      <div class="flex flex-row h-full px-6">
        <img src="assets/icons/logo.svg" class="text-primary h-12 my-auto mr-4 hidden md:block">
        <div class="my-auto md:leading-tight leading-8">
          <div class="text-primary font-bold md:text-2xl text-3xl">Bridges</div>
          <div class="font-semibold text-xl md:text-base">London</div>
        </div>
      </div>
    </a>
    <a routerLink="/news" class="ml-auto my-auto mr-5 md:hidden">
      <div class="flex h-12 w-12 bg-secondary rounded-full hover:bg-primary">
        <img src="assets/icons/icon_news.svg" class="m-auto">
      </div>
    </a>
  </nav>
  <div class="flex-grow flex overflow-hidden">
    <div class="overflow-x-hidden w-120 hidden md:block">
      <newslist></newslist>
    </div>
    <div class="flex-grow">
      <display-map-component></display-map-component>
    </div>
  </div>
</div>
