<div class="flex flex-col h-full overflow-hidden">
  <nav class="flex flex-row h-32">
    <a routerLink="/">
      <div class="flex flex-row h-full px-6">
        <img src="assets/icons/logo.svg" class="text-primary h-12 my-auto mr-4 hidden md:block">
        <div class="my-auto md:leading-tight leading-8">
          <div class="text-primary font-bold md:text-2xl text-3xl">Bridges</div>
          <div class="font-semibold text-xl md:text-base">London</div>
        </div>
      </div>
    </a>
    <a routerLink="/news" class="ml-auto my-auto mr-5 md:hidden">
      <div class="flex h-12 w-12 bg-secondary rounded-full hover:bg-primary">
        <img src="assets/icons/icon_news.svg" class="m-auto">
      </div>
    </a>
  </nav>
  <div class="flex-grow flex overflow-hidden">
    <div class="overflow-x-hidden max-w-xl hidden md:block">
      <newslist [emitEvent]=true (newsItemClick)="handleNewsClick($event)"></newslist>
    </div>
    <div class="flex-grow overflow-hidden relative">
      <display-map-component></display-map-component>
      <div class="absolute mt-6 mr-6 top-0 right-0 z-30 max-w-sm w-full">
        <connection-info></connection-info>
      </div>
      <div *ngIf="currentNewsItem">
        <div (click)="handleNewsClose()" class="absolute bg-black opacity-50 w-full h-full top-0 right-0 z-40">
        </div>
        <div class="absolute bg-dark shadow-lg max-w-lg h-full overflow-x-hidden top-0 left-0 z-50">
          <newsitem [newsItem]="currentNewsItem"></newsitem>
          <div class="absolute right-0 top-0 cursor-pointer" (click)="handleNewsClose()">
            <svg class="h-8 m-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fillRule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clipRule="evenodd" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
