// mgl-map {
//     height: 500px;
//     width: 500px;
//   }

:host ::ng-deep .mapboxgl-popup-content {
    background: transparent;
    box-shadow: none;
}

:host ::ng-deep .mapboxgl-popup-tip {
    border-top-color: transparent;
}