// mgl-map {
//     height: 500px;
//     width: 500px;
//   }

::ng-deep .mapboxgl-popup-content {
    background: transparent;
    box-shadow: none;
}

::ng-deep .mapboxgl-popup-tip {
    display: none;
    padding: 0;
}
