@import 'tailwindcss/base';
@import 'tailwindcss/utilities';

/* You can add global styles to this file, and also import other style files */
.mapboxgl-popup-content {
  background: transparent;
  box-shadow: none;
}

* {
  scrollbar-color: theme('colors.dark') theme('colors.secondary');
  scrollbar-width: thin;

}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: theme('colors.dark');
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme('colors.gray.700');
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme('colors.gray.600');
}
